VITE_FIREBASE_API_KEY=AIzaSyBB2m8e_mqah6lF8-693f7YuundPxuJIGU
VITE_FIREBASE_AUTH_DOMAIN= vibe-coder-1e4c8.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=vibe-coder-1e4c8
VITE_FIREBASE_STORAGE_BUCKET=vibe-coder-1e4c8.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=124101167420
VITE_FIREBASE_APP_ID=1:124101167420:web:d120259e05a42370e2f639
NVIDIA_API_KEY=ynvapi-LVcZyhSU_6QeDXO6QWfCu7cAn1GGPUIDJmWa2z0OIGEKCyn4kIQA9zqY_G56ieI2